@import "tailwindcss";


body{
  background-color: #000000;
  color: #FFFFFF;
  font-family:poppins ;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}